/*
 * @author : Łukasz Stasiak
 * @mail : lukasz.stasiak@lensflare.pl
 * @date: 21.10.2016
 */

body{
	margin:0;
	padding:0;	
}
section{
	display: flex;
	justify-content:center;
	align-items:center;
	width:100%;
	padding:40px 0px;
	box-sizing: border-box;
}
.bg_color_black{
	background-color:#222222;
}
.bg_color_white{
	background-color:#dddddd;
}
.bg_color_gray{
	background-color:#888888;
}
